*{
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: "impact";
    src: url( ../fuentes/impact.ttf)
    format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');




body{
    background-color: #E8F8F5;
    font-family: Arial, Helvetica, Sans-serif;
    color: rgb(0, 0, 0);
    margin: 0%;
    min-width: 250px;
}


header {
    background-color: #FADBD8; 
    font-family: impact;
    font-size: 2rem;
    height: 100%;
    margin-block-end: 0cm;
    color: #6E2C00;
    margin-bottom: 1%;
    padding: 1%;
}

h1{
    text-align: center;
}


nav{
    background-color: #682d07;
    display: flex;
    width: 100%;
   

}
nav ul li{
    float: left;
    list-style: none;
    margin: 5%;
    font-size: 1.2rem;
    color: #FADBD8;
    
    
    }


.navegation {
    display: inline-flex;
    margin-left: 5%;
    padding: 20px;
}
.navegacion{
    list-style: none;
    margin: 1%;
    color: white;
    border-top: 1px solid white;
    padding: 1%;
    
}

.navegacion:hover{
    border-top: 3px solid white;
}


hr{
    height: 5px;
    background-color: #873600;
    margin-top: 1%;
}


section{
    
    float: left;
    width: calc(70% - 70px);
    background: #E8F8F5;
    padding: 3%;
}


.article
{
    color: black;
    margin-top: 1%;
    padding: 1%;
    border-bottom: 2px solid #000000;
}

#primero{
    font-size: 2rem;
    text-align: left;
    background-color: #E8F8F5;
    text-decoration: underline solid black;
  
}

p{
    text-align: justify;
    font-family: 'Acme', sans-serif;
    margin-left: 1%;
    font-size: 1.5em;
    
   
}

.todo{
    margin-top: 5%;
    margin-left: 5%;
}

h2 {
    color: #6E2C00;
    text-decoration: underline 2px black;
    font-size: 1.5em;
   
}

 .uno{
    font-size: 1.5em;
 }

 .dos{
     font-size: 1.5em;
 }

ol{
    text-align: left;
 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    
}


aside{
    float: left;
    width: calc(20% - 20px);
    min-height: 500px;
    padding: 1.5%;
    
    }

   div #chicha{
        height: 46.23513870541612vh;
        width: auto;
        display: inline;
        margin-top: 15.852047556142669vh;
        border-radius: 13px;
        padding: 10px;
        border: 5px solid #873600;
        
        margin-bottom: auto;
        }

   


        .video iframe{
    
            height: 33.02vh;
        
            width: 21.875vw;
            margin-top: 50px;
            border-radius: 10px;
            padding: 10px;
            border: 5px solid #873600;
            
            margin-bottom: auto;
        }


        

        #ubicacion{
            margin-top: 30%;
        }



.mapa{
    width:  15.625vw;
    height:  15.625vw;
    
    border-radius: 10px;
    padding: 10px;
    border: 5px solid #873600;
    
    margin-bottom: auto;

    }
    .mapita{
        height:  15.625vw;
        width:  15.625vw;
    }
    .vinculo{
        color:#FADBD8;
        text-decoration: none;
    }

    footer
{
    display:flex;
    background-color:  #6E2C00 ;
    clear: both;
    align-items: center;
    height: 10vh;
    overflow: auto;
    box-sizing: border-box;
}
    
    .logos
{
    display: flex;
    padding-top: 0.5284015852047557vh;
    padding-bottom: 0.5284015852047557vh;
    padding-left: 45%;
    
}

.fb
{
    width:  2.1875vw;
    margin-right: 1.25vw;
    margin-top:  1.0568031704095113vh;
    cursor: pointer;
}
.fb:hover{
    width: 45px;
}

.ig 
{
    width: 2.5vw;
    margin-right:  0.625vw;
    margin-top: 0.7926023778071334vh;
    
}
.ig:hover{
    width: 50px;
}

.twt
{
    cursor: pointer;
    width: 3.125vw; 
}
.twt:hover{
    width: 60px;
}

.autor
{
   color: white; 
   margin-left: 30%;
   font-size: 80%;
   margin-right: 2%;
   
  
}
h3{
    font-family: 'Acme', sans-serif;
    
}

.autor:hover{
    color: #FADBD8;
}

.wpp
{ width: 5%;
    position: fixed;
    top: 80%;
    right: 2%;
    

}

.wpp:hover{
    width: 7%;
}

